{% extends 'layout.html' %} {% set pageTitle = 'Архитектурное бюро «Аксиома»' %}
{% set pageDesc = 'Архитектурное бюро осмысленного проектирования и комплексного
подхода' %} {% block content %}

<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <figure>
    <img
      src="/assets/axioma.png"
      alt="axioma"
      style="width: 10em; height: auto; margin-bottom: 1em" />
  </figure>
  <p>Качественная и дорогая авторская архитектура</p>
  <!-- <p>
    Архитектурное бюро. Основано в 2025 году. Авторская архитектура, отражающая
    ценности заказчика. Качественная среда, экологичные материалы, долгосрочные
    решения, локальная идентичность.
  </p> -->
  <p>
    <a href="tel:+79269332449">+79269332449</a>
  </p>
  <p>
    <a href="mailto:elena@ab-axioma.com">elena@ab-axioma.com</a>
  </p>
</div>

{% endblock %}
